@model houseRent.User
@{
    ViewBag.Title = "注册";
}
<div class="dialog">
    <div class="tit">
        <span class="norTile">新用户注册</span>
        <span class="currTit">填写个人信息</span>
    </div>
    <div class="box">
        @using (Html.BeginForm())
        {
            <p>
                @Html.LabelFor(m=>m.LoginName)
                @Html.TextBoxFor(m=>m.LoginName)
                @Html.ValidationMessageFor(m=>m.LoginName)
            </p>
            <p>
                @Html.LabelFor(m=>m.Password)
                @Html.PasswordFor(m=>m.Password)
                @Html.ValidationMessageFor(m=>m.Password)
            </p>
            <p>
                @Html.LabelFor(m=>m.RePassword)
                @Html.PasswordFor(m => m.RePassword)
                @Html.ValidationMessageFor(m=>m.RePassword)
            </p>
            <p>
                @Html.LabelFor(m=>m.Telephone)
                @Html.TextBoxFor(m=>m.Telephone)
                @Html.ValidationMessageFor(m=>m.Telephone)
            </p>
            <p>
                @Html.LabelFor(m=>m.UserName)
                @Html.TextBoxFor(m=>m.UserName)
                @Html.ValidationMessageFor(m=>m.UserName)
            </p>
            <p style="height:36px;width:125px;margin: 30px 0 0 140px;">
                <input type="submit" value="立即注册" class="buttons" />
            </p>
        }
    </div>
</div>